<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/Css/Header.css"/>
        <link rel="stylesheet" type="text/css" href="/Css/Navbar.css"/>
        <title>Biblioteca</title>
    </head>
    <body>
        <header class="header">
            <nav th:replace="/navbar :: nav_bar"></nav>  
        </header>
        <div>Biblioteca</div>
    </body>
</html>
