
<div th:fragment="nav_bar" class="nav">

    <div class="contenedor">
        <div>   
            <a class="logo" href="url">
                <img src="#" alt="logo"/>   
            </a>

        </div>
        <nav class="navbar">
            <a class="item" href="#">Autores</a>
            <a class="item" href="#">Libros</a>
            <a class="item" href="#">Editorial</a>

            <div>
                <a class="sesion" href="#">Iniciar Sesión</a>
            </div>
        </nav>
    </div>
</div>